.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  height: 80px;
  background: black;
  padding: 20px 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu_logo {
  width: 120px;
  height: 20px;
  margin-right: 50px;
}
.header__menu_watching {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: orangered;
  margin-right: 30px;
  text-transform: uppercase;
  font-family: "TT Norms Pro";
  font-size: 14px;
}
.header__menu_watching .items {
  margin-right: 30px;
  border-color: white;
}
.header__menu .items:last-child {
  margin-right: 0;
}
.header__menu_add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}
.header__menu_add .circle {
  width: 5px;
  height: 5px;
  border: 1px solid silver;
  background: silver;
  border-radius: 50%;
  margin-right: 3px;
}
.header__menu_add .circle:last-child {
  margin-right: 0px;
}
.header__menu_add .little_items {
  display: none;
  color: orangered;
}
.header__menu_tarifs {
  width: 100px;
  height: 30px;
  border: 1px solid white;
  color: white;
  font-size: 14px;
  background: black;
  border-radius: 3px;
}
.header__menu_search {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}
.header__menu_lang {
  font-size: 14px;
  margin-left: 20px;
  color: grey;
}
.header__menu_exit {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  margin-left: 20px;
}

.header__menu .little_tarifs {
  display: none;
}

.footer {
  max-width: 1280px;
  height: 200px;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}
.footer__little_image {
  width: 150px;
  height: 200px;
  margin-right: 30px;
  margin-left: 20px;
  padding-bottom: 10px;
}

.footer__menu {
  margin-right: 30px;
  font-weight: bold;
  font-size: 16px;
}
.footer__menu_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.footer__menu_stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 20px;
  border: 2px solid #FF4500;
  background: #FF4500;
  border-radius: 3px;
  color: white;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}
.footer__menu_elements {
  margin-right: 30px;
}
.footer__menu_subscribe {
  color: #FF4500;
  margin-right: 30px;
}
.footer__menu_little-name {
  margin-right: 30px;
}
.footer__menu_coordinate {
  margin-right: 30px;
}
.footer__menu .film-name {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}
.footer__menu_reaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.footer__menu_watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 50px;
  border: 2px solid orange;
  border-radius: 3px;
  background: orange;
  margin-right: 30px;
}
.footer__menu_watch .play {
  width: 30px;
  height: 30px;
  margin: 0;
}
.footer__menu_add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 50px;
  border: 2px solid white;
  border-radius: 2px;
  margin-right: 30px;
}
.footer__menu_add-button img {
  width: 40px;
  margin: 0;
}
.footer__menu .footer__menu_like {
  width: 50px;
  height: 50px;
  margin: 0;
  margin-right: 30px;
}
.footer__menu .footer__menu_dislike {
  width: 50px;
  height: 50px;
  margin: 0;
}
.footer__menu .footer__reaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  color: silver;
  margin-top: 10px;
}
.footer__menu .footer__reaction_explain {
  margin-right: 45px;
}

.sound-control {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.sound-control__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 50%;
  background: white;
  margin: 20px;
}
.sound-control__img {
  width: 30px;
  height: 30px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "TT Norms Pro";
  font-weight: 800;
}

li {
  list-style: none;
}

.film-block {
  max-width: 1280px;
  height: 700px;
  background: url(../img/mainImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("../fonts/TTNormsPro-Bold.eot");
  src: local("../fonts/TT Norms Pro Bold"), local("TTNormsPro-Bold"), url("../fonts/TTNormsPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNormsPro-Bold.woff2") format("woff2"), url("../fonts/TTNormsPro-Bold.woff") format("woff"), url("../fonts/TTNormsPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms Pro";
  src: url("../fonts/TTNormsPro-Thin.eot");
  src: local("../fonts/TT Norms Pro Thin"), local("TTNormsPro-Thin"), url("../fonts/TTNormsPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNormsPro-Thin.woff2") format("woff2"), url("../fonts/TTNormsPro-Thin.woff") format("woff"), url("../fonts/TTNormsPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@media (max-width: 1216px) {
  .header__menu_watching {
    font-size: 12px;
  }
}
@media (max-width: 1216px) {
  .header__menu_tarifs {
    font-size: 12px;
  }
}
@media (max-width: 1216px) {
  .header__menu_lang {
    font-size: 12px;
  }
}
@media (max-width: 1216px) {
  .header__menu_exit {
    font-size: 12px;
  }
}
@media (max-width: 1140px) {
  .header__menu_watching .items {
    margin-right: 10px;
  }
}
@media (max-width: 1024px) {
  .header__menu_logo {
    margin-right: 10px;
  }
}
@media (max-width: 974px) {
  .header__menu {
    padding-right: 10px;
    font-size: 10px;
  }
}
@media (max-width: 954px) {
  .header__menu_tarifs {
    width: 70px;
    height: 20px;
    margin-right: 10px;
  }
}
@media (max-width: 934px) {
  .header__menu_watching {
    margin-right: 10px;
  }
}
@media (max-width: 934px) {
  .header__menu_add .block {
    margin-right: 5px;
  }
}
@media (max-width: 934px) {
  .header__menu_tarifs {
    margin-right: 5px;
  }
}
@media (max-width: 934px) {
  .header__menu_search {
    margin-left: 5px;
  }
}
@media (max-width: 888px) {
  .header__menu_lang {
    margin-left: 5px;
  }
}
@media (max-width: 888px) {
  .header__menu_exit {
    margin-left: 10px;
  }
}
@media (max-width: 862px) {
  .header__menu_watching {
    display: none;
  }
}
@media (max-width: 862px) {
  .header__menu_logo {
    margin-right: 50px;
  }
}
@media (max-width: 862px) {
  .header__menu_add {
    margin-right: 50px;
  }
}
@media (max-width: 862px) {
  .header__menu_tarifs {
    display: none;
  }
}
@media (max-width: 862px) {
  .header__menu_search {
    margin-right: 20px;
    z-index: 10000;
  }
}
@media (max-width: 862px) {
  .header__menu_lang {
    margin-right: 20px;
    z-index: 10000;
  }
}
@media (max-width: 862px) {
  .header__menu_exit {
    z-index: 10000;
  }
}
@media (max-width: 862px) {
  .header__menu_add {
    position: relative;
  }
}
@media (max-width: 862px) {
  .header__menu_add:hover .header__menu_little {
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
}
@media (max-width: 862px) {
  .header__menu_little {
    position: absolute;
    width: 200px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    background: black;
    border-radius: 2px;
    top: 0px;
    padding-top: 15px;
    font-size: 12px;
    margin-left: 25px;
  }
}
@media (max-width: 862px) {
  .header__menu .little_items {
    display: initial;
    margin-top: 20px;
    font-size: 16px;
    margin-left: 10px;
  }
}
@media (max-width: 862px) {
  .header__menu .little_items:hover {
    -webkit-transform: scale(110%);
            transform: scale(110%);
    -webkit-transition: 1s;
    transition: 1s;
  }
}
@media (max-width: 862px) {
  .header__menu .little_tarifs:hover {
    -webkit-transform: scale(110%);
            transform: scale(110%);
    -webkit-transition: 1s;
    transition: 1s;
  }
}
@media (max-width: 862px) {
  .header__menu .little_tarifs {
    display: initial;
    margin-top: 40px;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    background: black;
    border-radius: 3px;
  }
}
@media (max-width: 671px) {
  .footer__little_image {
    width: 110px;
    height: 170px;
    padding-top: 20px;
  }
}
@media (max-width: 673px) {
  .footer__menu .film-name {
    margin-top: 0px;
  }
}
@media (max-width: 633px) {
  .footer__little_image {
    width: 110px;
    height: 170px;
  }
}
@media (max-width: 629px) {
  .footer__little_image {
    display: initial;
  }
}
@media (max-width: 634px) {
  .film-block {
    background: url(../img/middleAdapt.img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
}
@media (max-width: 634px) {
  .footer__little_image {
    width: 120px;
    height: 170px;
  }
}
@media (max-width: 634px) {
  .footer__menu_info {
    font-size: 12px;
  }
}
@media (max-width: 634px) {
  .footer__menu .film-name {
    font-size: 20px;
    margin-top: 10px;
  }
}
@media (max-width: 634px) {
  .footer__menu_elements {
    margin-right: 10px;
  }
}
@media (max-width: 634px) {
  .footer__menu_watch {
    width: 100px;
    height: 30px;
    font-size: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 634px) {
  .footer__menu_play {
    width: 30px;
    height: 30px;
    font-size: 11px;
  }
}
@media (max-width: 634px) {
  .footer__menu_add-button {
    width: 50px;
    height: 30px;
    font-size: 11px;
  }
}
@media (max-width: 634px) {
  .footer__menu_reaction .footer__menu_like {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
}
@media (max-width: 634px) {
  .footer__menu_reaction .footer__menu_dislike {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 634px) {
  .footer__reaction .footer__reaction_explain {
    font-size: 10px;
    margin-right: 23px;
  }
}
@media (max-width: 456px) {
  .footer__little_image {
    display: none;
  }
}
@media (max-width: 456px) {
  .footer {
    padding-left: 20px;
  }
}
@media (max-width: 414px) {
  .film-block {
    background-image: url(../img/adaptive.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
  .header__menu_watching {
    display: none;
  }
}
@media (max-width: 414px) {
  .header__menu_logo {
    margin-right: 10px;
  }
}
@media (max-width: 414px) {
  .header__menu_tarifs {
    display: none;
  }
}
@media (max-width: 414px) {
  .header__menu_tarifs {
    display: none;
  }
}
@media (max-width: 414px) {
  .header__menu_exit {
    margin-right: 25px;
  }
}
@media (max-width: 414px) {
  .header__menu_add {
    position: relative;
    z-index: 5000;
  }
}
@media (max-width: 414px) {
  .header__menu_search {
    z-index: 6000;
  }
}
@media (max-width: 414px) {
  .header__menu_lang {
    z-index: 7000;
  }
}
@media (max-width: 414px) {
  .header__menu_exit {
    z-index: 7000;
  }
}
@media (max-width: 414px) {
  .header__menu_add .circle {
    z-index: 9000;
  }
}
@media (max-width: 414px) {
  .header__menu_add:hover .header__menu_little {
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
}
@media (max-width: 414px) {
  .sound-control__button {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 414px) {
  .sound-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 414px) {
  .header__menu_little {
    position: absolute;
    width: 150px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    background: black;
    border-radius: 2px;
    top: 0px;
    padding-top: 17px;
    font-size: 12px;
    margin-left: 25px;
  }
}
@media (max-width: 414px) {
  .header__menu .little_items {
    display: initial;
    margin-top: 20px;
    font-size: 16px;
    margin-left: 10px;
  }
}
@media (max-width: 414px) {
  .header__menu .little_items:hover {
    -webkit-transform: scale(110%);
            transform: scale(110%);
    -webkit-transition: 1s;
    transition: 1s;
  }
}
@media (max-width: 414px) {
  .header__menu .little_tarifs:hover {
    -webkit-transform: scale(110%);
            transform: scale(110%);
    -webkit-transition: 1s;
    transition: 1s;
  }
}
@media (max-width: 414px) {
  .header__menu .little_tarifs {
    display: initial;
    margin-top: 40px;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    background: black;
    border-radius: 3px;
  }
}
@media (max-width: 414px) {
  .footer {
    padding-left: 10px;
  }
}
@media (max-width: 414px) {
  .footer__menu_info {
    color: white;
    font-size: 11px;
  }
}
@media (max-width: 414px) {
  .footer__little_image {
    display: none;
  }
}
@media (max-width: 414px) {
  .footer__menu .film-name {
    font-size: 30px;
    margin-top: 15px;
  }
}
@media (max-width: 414px) {
  .footer__menu_elements {
    margin-right: 10px;
  }
}
@media (max-width: 414px) {
  .footer__menu_reaction {
    margin-top: 15px;
  }
}
@media (max-width: 414px) {
  .footer__menu_reaction .footer__menu_like {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 25px;
  }
}
@media (max-width: 414px) {
  .footer__menu_reaction .footer__menu_dislike {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 414px) {
  .footer__menu_watch {
    width: 120px;
    height: 40px;
    margin-right: 10px;
  }
}
@media (max-width: 414px) {
  .footer__menu_add-button {
    width: 70px;
    height: 40px;
    margin-right: 10px;
    border: 2px solid white;
  }
}
@media (max-width: 414px) {
  .footer__reaction_explain .favorites {
    margin-right: 40px;
  }
}
@media (max-width: 364px) {
  .header {
    padding-right: 20px;
    padding-left: 50px;
  }
}
@media (max-width: 346px) {
  .header__menu_add {
    margin-right: 20px;
  }
}
@media (max-width: 346px) {
  .footer__menu_info {
    font-size: 9px;
  }
}
@media (max-width: 346px) {
  .footer__menu_stock {
    width: 50px;
    font-size: 9px;
  }
}
@media (max-width: 346px) {
  .footer__menu_watch {
    width: 70px;
    height: 30px;
    font-size: 9px;
  }
}
@media (max-width: 346px) {
  .footer__menu_play {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 346px) {
  .footer__menu_add-button {
    width: 50px;
    height: 30px;
    margin-left: 40px;
  }
}
@media (max-width: 346px) {
  .footer__menu_add-button .footer__menu_add-img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 346px) {
  .footer__menu_reaction .footer__menu_like {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 13px;
  }
}
@media (max-width: 346px) {
  .footer__menu_reaction .footer__menu_dislike {
    width: 30px;
    height: 30px;
    margin-left: 0px;
  }
}
@media (max-width: 346px) {
  .footer__reaction .footer__reaction_explain {
    font-size: 9px;
    margin-right: 20px;
  }
}/*# sourceMappingURL=style.css.map */