* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'TT Norms Pro';
    font-weight: 800;
}
li {
    list-style: none;
}
.film-block {
    max-width: 1280px;
    height: 700px;
    background: url(../img/mainImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    
    
}

